a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: black; }

a:focus, button:focus {
  outline: none; }

nav {
  width: 100vw;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.8); }

ul {
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 10px; }

nav ul {
  width: 100vw;
  display: flex;
  padding-top: 20px;
  padding-left: 0;
  justify-content: space-evenly; }

@supports (-ms-flow-from: thingy) {
  nav ul {
    display: flex;
    justify-content: space-around;
    width: 95vw;
    margin-left: auto;
    margin-right: auto; } }

nav ul li {
  min-width: 1.2em;
  border-radius: 25px;
  border-width: 2px; }

li div {
  display: none; }

li:hover div {
  display: flex;
  flex-direction: column; }

li div a {
  text-overflow: ellipsis; }

.divider {
  margin-top: auto;
  margin-bottom: auto;
  height: 10px;
  width: 2px;
  background-color: #0f0f0f; }

.pagination {
  width: 100vw;
  height: 5px; }

.pagination div {
  background: black;
  position: absolute;
  left: 0;
  height: 5px;
  width: 0;
  transition-property: width;
  transition-duration: 200ms; }

.collapsableNav {
  background: rgba(43, 43, 43, 0.7);
  width: 100vw;
  height: 3em;
  overflow: hidden;
  transition: height 300ms; }

.collapsableNav ul {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column; }

.collapsableNav ul li {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10px 1fr;
  width: 98vw;
  height: 3em;
  margin-left: 2vw; }

.collapsableNav ul li a {
  color: white;
  justify-self: initial;
  margin-left: 10px;
  align-self: center;
  grid-column: 2; }

.collapsableNav ul li svg {
  color: white;
  justify-self: center;
  align-self: center; }

footer {
  background: #349caa;
  font-size: 13px;
  min-height: 42em;
  padding-left: 5%;
  padding-top: 3%;
  padding-right: 5%;
  padding-bottom: 3%; }

footer .grid {
  display: grid;
  grid-template-rows: minmax(0.5fr, auto) minmax(0.5fr, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  height: 94%; }

footer .grid * a:link {
  color: white; }

@media (max-width: 1200px) {
  footer .grid {
    grid-template-rows: minmax(0.5fr, auto) minmax(0.5fr, auto) minmax(0.5fr, auto) minmax(0.5fr, auto) minmax(0.5fr, auto) minmax(0.5fr, auto) minmax(0.5fr, auto);
    grid-template-columns: 1fr; } }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif; }

.content {
  width: 100vw;
  min-height: 80vh; }

.headlights {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  background: #fefefe; }

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.7); }

.logo img {
  width: 30vw;
  height: auto;
  object-fit: cover;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px; }

.privacy img {
  width: 15em; }

.programs img {
  width: 13em; }

.programs img[src='/static/img/professionale.png'] {
  width: 19.5em; }

.programs img[src='/static/img/liceo.png'] {
  width: 10em; }

.search-input {
  height: 30px;
  border-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: #0081C3;
  background: #fefefe;
  transition: border-bottom-color 1000ms; }

.search-input:focus {
  outline: none; }

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0081C3;
  color: white;
  width: 40px;
  height: 40px;
  border-width: 0px;
  border-radius: 6px 14px;
  margin-left: 5px; }

.sticky-body {
  z-index: 10;
  background: #f3f3f3;
  position: absolute;
  top: 350px;
  width: 100vw;
  height: auto;
  margin-bottom: 0;
  margin-right: 0; }

.search {
  display: flex; }

.thumbnail {
  width: 100vw;
  height: 360px;
  position: fixed;
  z-index: 5; }

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 1200px) {
  .headlights {
    display: flex;
    flex-direction: column;
    background: #fefefe; }
  .search {
    margin-bottom: 1em; }
  .logo {
    width: 100vw;
    align-items: center;
    justify-content: center; }
  .logo img {
    width: 70vw;
    height: auto;
    object-fit: cover; } }

@media (max-width: 700px) {
  .logo {
    font-size: 8px; } }

.slideshow-control {
  display: flex;
  flex-direction: row-reverse;
  height: 2em;
  z-index: 15;
  background: #C6C6C6;
  transition: background 200ms; }

.slideshow {
  margin-left: 4em;
  margin-top: .6em;
  width: 40%; }

.slideshow img {
  width: 100%;
  height: auto; }

.slideshow-control .control {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 200ms;
  width: 20px;
  background: rgba(0, 0, 0, 0.4); }

.slideshow-control .control:hover {
  width: 40px; }

.slideshow-control .control svg {
  color: white; }

.card {
  padding: 16px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  color: white;
  border-radius: 5px;
  max-width: 30vw;
  min-width: 25vw;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card h2 {
  justify-self: center;
  text-align: center;
  font-weight: bolder; }

.card img {
  height: 8em;
  justify-self: center; }

.card button {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  min-height: 2em;
  transition: background 300ms;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.card button:hover {
  background: rgba(255, 255, 255, 0.1); }

@media (max-width: 1200px) {
  .card {
    max-width: 100%; } }

.postcard {
  background: white;
  display: flex;
  border-radius: 4px;
  border: none;
  flex-direction: column;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.postcard:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.postcard p {
  margin: 0; }

.postcard ul {
  display: flex;
  padding-left: 0; }

.postcard ul li button {
  background: transparent;
  border-radius: 4px;
  border: none;
  color: #259b9a;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  min-height: 2em;
  transition: background 300ms;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.postcard ul li button:hover {
  background: rgba(37, 155, 154, 0.1); }

.postcard .post-thumb {
  height: 10%;
  object-fit: contain;
  align-self: center; }

@media (max-width: 1200px) {
  .postcard {
    margin-left: auto;
    margin-right: auto; }
  .postcard ul {
    flex-direction: column; } }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif; }

a {
  cursor: pointer; }

a:link {
  cursor: pointer; }

.sticky-body .readme {
  display: flex;
  width: 95vw;
  justify-content: space-evenly;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto; }

.mainview {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto; }

@supports (-ms-flow-from: thingy) {
  .mainview {
    width: 80vw;
    justify-content: space-between; }
  .sticky-body .readme {
    width: 94vw;
    justify-content: space-between; } }

.calamajo {
  width: 28vw;
  align-self: center; }

.postlist {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-start; }

@media (max-width: 1200px) {
  .mainview {
    flex-direction: column; }
  .calamajo {
    align-self: center;
    justify-self: center;
    width: 87.5vw; }
  .postlist {
    grid-template-columns: 1fr 1fr; }
  .postlist .postcard {
    min-width: 90%; }
  .sticky-body .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; }
  .sticky-body .content .slideshow {
    width: 95vw;
    margin-left: auto;
    margin-right: auto; }
  .sticky-body .readme {
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 700px) {
  .postlist {
    grid-template-columns: 1fr;
    grid-row-gap: 2.5px; } }


/*# sourceMappingURL=styles.chunk.css.map*/