body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif
}

a {
    cursor: pointer;
}

a:link {
    cursor: pointer;
}

.sticky-body .readme {
    display: flex;
    width: 95vw;
    justify-content: space-evenly;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.mainview {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

@supports (-ms-flow-from: thingy) {
    .mainview {
        width: 80vw;
        justify-content: space-between;
    }

    .sticky-body .readme {
        width: 94vw;
        justify-content: space-between;
    }

}

.calamajo {
    width: 28vw;
    align-self: center;
}

.postlist {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    .mainview {
      flex-direction: column;
    }
    
    .calamajo {
        align-self: center;
        justify-self: center;
        width: 87.5vw;
    }

    .postlist {
        grid-template-columns: 1fr 1fr;
    }

    .postlist .postcard {
        min-width: 90%;
    }
    
    .sticky-body .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .sticky-body .content .slideshow {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .sticky-body .readme {
        flex-direction: column;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 700px) {
    .postlist {
        grid-template-columns: 1fr;
        grid-row-gap: 2.5px;
    }
}