  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  
  a:focus, button:focus {
    outline: none;
  }

  nav {
    width: 100vw;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgba(255, 255, 255, .8)
  }

  ul {
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 10px;
  }

  nav ul {
    width: 100vw;
    display: flex;
    padding-top: 20px;
    padding-left: 0;
    justify-content: space-evenly;
  }

  @supports (-ms-flow-from: thingy) {
    nav ul {
      display: flex;
      justify-content: space-around;
      width: 95vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  nav ul li {
    min-width: 1.2em;
    border-radius: 25px;
    border-width: 2px;

  }

  li div {
    display: none;
  }
  
  li:hover div {
    display: flex;
    flex-direction: column;
  }
  
  li div a {
    text-overflow: ellipsis;
  }
  
  .divider {
    margin-top: auto;
    margin-bottom: auto;
    height: 10px;
    width: 2px;
    background-color: #0f0f0f
  }

.pagination{
    width: 100vw;
    height: 5px;
}

.pagination div {
    background: black;
    position: absolute;
    left: 0;
    height: 5px;
    width: 0;
    transition-property: width;
    transition-duration: 200ms;
}