body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif
}

.content {
    width: 100vw;
    min-height: 80vh;
}

.headlights {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background: #fefefe
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, .7);
}

.logo img {
    width: 30vw;
    height: auto;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.privacy img {
    width: 15em;
}

.programs img {
    width: 13em;
}

.programs img[src='/static/img/professionale.png'] {
    width: 19.5em;
}
.programs img[src='/static/img/liceo.png'] {
    width: 10em;
}

.search-input {
    height: 30px;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #0081C3;
    background: #fefefe;
    transition: border-bottom-color 1000ms;
}

.search-input:focus {
    outline: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0081C3;
    color: white;
    width: 40px;
    height: 40px;
    border-width: 0px;
    border-radius: 6px 14px;
    margin-left: 5px;
}

.sticky-body {
    z-index: 10;
    background: #f3f3f3;
    position: absolute;
    top: 350px;
    width: 100vw;
    height: auto;
    margin-bottom: 0;
    margin-right: 0;
}

.search {
    display:flex;
}

.thumbnail {
    width: 100vw;
    height: 360px;
    position: fixed;
    z-index: 5;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .headlights {
        display: flex;
        flex-direction: column;
        background: #fefefe;
    }

    .search {
        margin-bottom: 1em;
    }

    .logo {
        width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 70vw;
        height: auto;
        object-fit: cover;
    }
    
}

@media (max-width: 700px) {
    .logo {
        font-size: 8px;
    }
}