.slideshow-control {
    display: flex;
    flex-direction: row-reverse;
    height: 2em;
    z-index: 15;
    background: #C6C6C6;
    transition: background 200ms;
}

.slideshow {
    margin-left: 4em;
    margin-top: .6em;
    width: 40%;
}

.slideshow img {
    width: 100%;
    height: auto;
}

.slideshow-control .control {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 200ms;
    width: 20px;
    background: rgba(0, 0, 0, .4)
}

.slideshow-control .control:hover {
    width: 40px;
}

.slideshow-control .control svg {
    color: white;
}