.card {
    padding: 16px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    color: white;
    border-radius: 5px;
    max-width: 30vw;
    min-width: 25vw;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h2{
    justify-self: center;
    text-align: center;
    font-weight: bolder;
}

.card img {
    height: 8em;
    justify-self: center;
}

.card button {
    background: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    min-height: 2em;
    transition: background 300ms;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.card button:hover {
    background: rgba(255, 255, 255, .1);
}

@media (max-width: 1200px) {
    .card {
        max-width: 100%;
    }
}