.collapsableNav {
    background: rgba(43, 43, 43, .7);
    width: 100vw;
    height: 3em;
    overflow: hidden;
    transition: height 300ms;
}

.collapsableNav ul {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.collapsableNav ul li {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10px 1fr;
    width: 98vw;
    height: 3em;
    margin-left: 2vw;
}

.collapsableNav ul li a{
    color: white;
    justify-self: initial;
    margin-left: 10px;
    align-self: center;
    grid-column: 2;
}

.collapsableNav ul li svg {
    color: white;
    justify-self: center;
    align-self: center;
}

@media (max-width: 700px) {
    
}