footer {
    background: #349caa;
    font-size: 13px;
    min-height: 42em;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
}

footer .grid {
    display: grid;
    grid-template-rows: minmax(.5fr, auto) minmax(.5fr, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 94%;
}

footer .grid * a:link {
    color: white;
}

@media (max-width: 1200px) {
    footer .grid {
        grid-template-rows: minmax(.5fr, auto)
                            minmax(.5fr, auto) 
                            minmax(.5fr, auto) 
                            minmax(.5fr, auto)
                            minmax(.5fr, auto)
                            minmax(.5fr, auto)
                            minmax(.5fr, auto);
        grid-template-columns: 1fr;
    }
}