
.postcard {
    background: white;
    display: flex;
    border-radius: 4px;
    border: none;
    flex-direction: column;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.postcard:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.postcard p {
    margin: 0;
}

.postcard ul {
    display: flex;
    padding-left: 0;
}

.postcard ul li button {
    background: transparent;
    border-radius: 4px;
    border: none;
    color: rgba(37, 155, 154, 1);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    min-height: 2em;
    transition: background 300ms;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.postcard ul li button:hover {
    background: rgba(37, 155, 154, .1);
}

.postcard .post-thumb {
    height: 10%;
    object-fit: contain;
    align-self: center;
}

@media (max-width: 1200px){
    .postcard {
        margin-left: auto;
        margin-right: auto;
    }

    .postcard ul {
        flex-direction: column;
    }
}
